# Scripts
TransferToServer.ps1

# Debugger files
.vs/*
.vscode/*

# client source
src/Client/Client.sln
src/Client/Client.vcxproj
src/Client/Client.vcxproj.filters
src/Client/Client.vcxproj.user
src/Client/Debug/*
src/Client/.vs/*
config.h

# server source 
src/Server/Server.sln
src/Server/Server.vcxproj
src/Server/Server.vcxproj.filters
src/Server/Server.vcxproj.user
src/Server/Debug/*
src/Server/.vs/*

*log